<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.ssafy.firskorea.member.mapper.MemberMapper">

	<select id="login" parameterType="memberDto"
		resultType="memberDto">
		select id, name, token
		from member
		where id = #{id} and
		password = #{password}
	</select>

	<update id="saveRefreshToken" parameterType="map">
		update member
		set token = #{token}
		where id=#{id}
	</update>

	<select id="userInfo" parameterType="string"
		resultType="memberDto">
		select name, id, email_id, email_domain, join_date
		from
		member
		where id = #{id}
	</select>

	<select id="getRefreshToken" parameterType="string"
		resultType="string">
		select token
		from member
		where id = #{id}
	</select>

	<update id="deleteRefreshToken" parameterType="map">
		update member
		set
		token = #{token, jdbcType=VARCHAR}
		where id = #{id}
	</update>

	<insert id="signUp" parameterType="memberDto">
		insert into member
		(id, name, password, email_id, email_domain, status, join_date)
		values 
		(#{id}, #{name}, #{password}, #{emailId}, #{emailDomain}, 1 ,now()); 
	</insert>

</mapper>